apiVersion: apps/v1
kind: Deployment
metadata:
  # Nombre único para el despliegue de ventas
  name: sales-api 
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sales
  template:
    metadata:
      labels:
        app: sales
    spec:
      containers:
      - name: sales-container
        # Imagen específica para el servicio de ventas
        image: euler09/sales-api:latest 
        ports:
        - containerPort: 8080
        env:
        - name: ConnectionStrings__DefaultConnection
          # CAMBIO: Apuntando a la base de datos de Ventas (DbMicroserviceSales)
          value: "Server=servidor-sql.cevqoao4e4li.us-east-1.rds.amazonaws.com,1433;Database=DbMicroserviceSales;User Id=admin;Password=martinez1234;TrustServerCertificate=True;Encrypt=True;"
        - name: RabbitMq__Hostname
          value: "b-f19a7ab2-7079-4163-b0c6-854fe583469f.mq.us-east-1.on.aws"
---
apiVersion: v1
kind: Service
metadata:
  # Nombre único para el servicio de ventas
  name: sales-service
spec:
  selector:
    app: sales
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  # AWS generará una URL pública independiente para este servicio
  type: LoadBalancer